<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/dashboard" routerLinkActive="active fluffy">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/crisis-center" routerLinkActive="active fluffy">Crisis Center</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/heroes" routerLinkActive="active fluffy">Heroes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/component-interaction" >Component Interaction</a></li>
    </ul>
  </div>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<router-outlet name="popup"></router-outlet>
