<h2>List User</h2>


<div class="row">
  <div class="col-3">
    <div class="row">
      <label>Hero name:
        <input #heroName />
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="float-right" (click)="add(heroName.value); heroName.value=''">
        add
      </button>
    </div>
    <ul class="heroes">
      <li *ngFor="let hero of heroes$ | async" [class.selected]="hero.id === selectedId">
        <a [routerLink]="['/hero', hero.id]">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
      </li>
    </ul>
  </div>
  <div class="col-1"> </div>
  <div class="col-8">
    <table class="table table-bordered table-hover table-sm">
      <caption>List of users</caption>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">address</th>
        <th scope="col">Phone No</th>
      </tr>
      <tr *ngFor="let hero of heroes$ | async">
        <th scope="row">{{hero.id}}</th>
        <td>{{hero.name}}</td>
        <td> <a routerLink="/hero/{{hero.id}}"> {{hero.email}}</a></td>
        <td>{{hero.address}}</td>
        <td>{{hero.phoneNo}}</td>
      </tr>
    </table>
  </div>
</div>



<div *ngIf="heroes">
  <h2>{{master}} controls {{heroes.length}} heroes</h2>
</div>

<app-hero-child *ngFor="let hero of heroes"
                [hero]="hero"
                [master]="master">
</app-hero-child>
